.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -webkit-linear-gradient(top, white, black);
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
html {
    height: 94vh;
}

body {
    margin: 0;
    padding-top: 6vh;
    height: 100%;

    background-color: #6E5351;
}

#christmas-tree {
    width: 100%;
    height: 90vh;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.floor {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20vh;

    background-color: #996A30;
}

.switch input {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.switch {
    position: absolute;
    top: 50vh;
    right: 5vh;

    width: 100px;
    height: 35px;
    margin: 100px auto;
}

.switch label {
    display: block;
    width: 80%;
    height: 100%;
    position: relative;
    background: #1F2736; /*#121823*/
    background: -webkit-gradient(linear, left top, left bottom, from(#121823), to(#161d2b));
    background: -webkit-linear-gradient(#121823, #161d2b);
    background: -o-linear-gradient(#121823, #161d2b);
    background: linear-gradient(#121823, #161d2b);
    border-radius: 30px 30px 30px 30px;
    -webkit-box-shadow: inset 0 3px 8px 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 3px 8px 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.switch input ~ label i {
    display: block;
    height: 28px;
    width: 28px;
    position: absolute;
    left: 2px;
    top: 3px;
    z-index: 2;
    border-radius: inherit;
    background: #283446; /* Fallback */
    background: -webkit-gradient(linear, left top, left bottom, from(#36455b), to(#283446));
    background: -webkit-linear-gradient(#36455b, #283446);
    background: -o-linear-gradient(#36455b, #283446);
    background: linear-gradient(#36455b, #283446);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.3), 0 12px 12px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.3), 0 12px 12px rgba(0, 0, 0, 0.4);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.switch label + span {
    content: "";
    display: inline-block;
    position: absolute;
    right: -5px;
    top: 8px;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background: #283446;
    background: gradient-gradient(#36455b, #283446);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 10px rgba(185, 231, 253, 0), inset 0 0 8px rgba(0, 0, 0, 0.9), inset 0 -2px 5px rgba(0, 0, 0, 0.3), inset 0 -5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 10px rgba(185, 231, 253, 0), inset 0 0 8px rgba(0, 0, 0, 0.9), inset 0 -2px 5px rgba(0, 0, 0, 0.3), inset 0 -5px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 2;
}

/* Toggle */

.switch input:checked ~ label + span {
    content: "";
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 2;
    background: #b9f3fe;
    background: gradient-gradient(#ffffff, #77a1b9);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 10px rgba(100, 231, 253, 1), inset 0 0 8px rgba(61, 157, 247, 0.8), inset 0 -2px 5px rgba(185, 231, 253, 0.3), inset 0 -3px 8px rgba(185, 231, 253, 0.5);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 10px rgba(100, 231, 253, 1), inset 0 0 8px rgba(61, 157, 247, 0.8), inset 0 -2px 5px rgba(185, 231, 253, 0.3), inset 0 -3px 8px rgba(185, 231, 253, 0.5);
}

.switch input:checked ~ label i {
    left: auto;
    left: 63%;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.3), 0 8px 8px rgba(0, 0, 0, 0.3), inset -1px 0 1px #b9f3fe;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.3), 0 8px 8px rgba(0, 0, 0, 0.3), inset -1px 0 1px #b9f3fe;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.cls-1, .cls-16 {
    fill: none;
}

.cls-2 {
    fill: #6f431a;
}

.cls-3 {
    fill: #f95300;
}

.cls-4 {
    fill: #f96a2b;
}

.cls-5 {
    fill: #c94206;
}

.cls-6 {
    fill: #d53938;
}

.cls-7 {
    fill: #e85e4d;
}

.cls-8 {
    fill: #b6282e;
}

.cls-14, .cls-9 {
    fill: #fcb51d;
}

.cls-10 {
    fill: #b61f2b;
}

.cls-11 {
    fill: #da9828;
}

.cls-12 {
    fill: #94c83f;
}

.cls-13 {
    fill: #00938e;
}

.cls-14, .cls-15 {
    stroke: #f05e4b;
    stroke-width: 0.5px;
}

.cls-14, .cls-15, .cls-16 {
    stroke-miterlimit: 10;
}

.cls-15, .cls-30 {
    fill: #fdcc61;
}

.cls-16 {
    stroke: #cc636c;
}

.cls-17 {
    fill: #fff;
}

.cls-18 {
    -webkit-clip-path: url(#clip-path);
    clip-path: url(#clip-path);
}

.cls-19 {
    fill: #cc636c;
}

.cls-20 {
    -webkit-clip-path: url(#clip-path-2);
    clip-path: url(#clip-path-2);
}

.cls-21 {
    fill: #f05e4b;
}

.cls-22 {
    fill: #6a9940;
}

.cls-23 {
    -webkit-clip-path: url(#clip-path-3);
    clip-path: url(#clip-path-3);
}

.cls-24 {
    fill: #f9f9f9;
}

.cls-25 {
    -webkit-clip-path: url(#clip-path-4);
    clip-path: url(#clip-path-4);
}

.cls-26 {
    fill: #f26073;
}

.cls-27 {
    -webkit-clip-path: url(#clip-path-5);
    clip-path: url(#clip-path-5);
}

.cls-28 {
    -webkit-clip-path: url(#clip-path-6);
    clip-path: url(#clip-path-6);
}

.cls-29 {
    -webkit-clip-path: url(#clip-path-7);
    clip-path: url(#clip-path-7);
}

.cls-31 {
    fill: #5b4140;
}

.cls-32 {
    fill: #928685;
}

.cls-33 {
    fill: #b7b7b7;
}

.cls-34 {
    fill: #7d7b7b;
}

@-webkit-keyframes glow {
    0% {
        fill-opacity: 0.5;
    }
    25% {
        fill: url(#redgrad);
        fill-opacity: 1;
    }
    50% {
        fill-opacity: 0.5;
    }
    75% {
        fill: url(#orangegrad);
        fil-opacity: 0.7;
    }
    100% {
        fill-opacity: 1;
    }
}

@keyframes glow {
    0% {
        fill-opacity: 0.5;
    }
    25% {
        fill: url(#redgrad);
        fill-opacity: 1;
    }
    50% {
        fill-opacity: 0.5;
    }
    75% {
        fill: url(#orangegrad);
        fil-opacity: 0.7;
    }
    100% {
        fill-opacity: 1;
    }
}

.fire.fade {
    -webkit-filter: url(#darken);
    filter: url(#darken);
}

.fire.cls-15,
.fire.cls-14 {
    -webkit-animation-name: glow;
    animation-name: glow;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-filter: url(#blur-filter);
    filter: url(#blur-filter);
}

.fire.cls-15 {
    fill: url(#bluegrad);
    stroke-width: 0;
}

.fire.cls-14 {
    fill: url(#pinkgrad);
    stroke-width: 0;
}

#lamp-dark {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

#lamp-light {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

#lamp-dark-2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

#lamp-light-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

#lamp-dark-3 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

#lamp-light-3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

#lamp-dark-4 {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

#lamp-light-4 {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

#lamp-dark-5 {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
}

#lamp-light-5 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

#lamp-dark-6 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.fire.cls-21 {
    fill: url(#tapegrad);
}

@-webkit-keyframes change-color1 {
    0% {
        stop-color: #fa0000;
    }
    100% {
        stop-color: #f0cc05;
    }
}

@keyframes change-color1 {
    0% {
        stop-color: #fa0000;
    }
    100% {
        stop-color: #f0cc05;
    }
}

@-webkit-keyframes change-color2 {
    0% {
        stop-color: #2d0dbd;
    }
    100% {
        stop-color: #0dbd00;
    }
}

@keyframes change-color2 {
    0% {
        stop-color: #2d0dbd;
    }
    100% {
        stop-color: #0dbd00;
    }
}

#stop1 {
    -webkit-animation: change-color1 5s ease-in-out infinite alternate;
    animation: change-color1 5s ease-in-out infinite alternate;
}

#stop2 {
    -webkit-animation: change-color2 5s ease-in-out infinite alternate;
    animation: change-color2 5s ease-in-out infinite alternate;
}

.fire.cls-9 {
    -webkit-filter: url(#blur-filter);
    filter: url(#blur-filter);
    fill: url(#stargrad);
}